[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"

[dev-packages]
pycodestyle = "*"
flake8 = "*"
autopep8 = "*"
isort = "*"

[scripts]
format = "bash -c 'autopep8 -ivr --max-line-length 120 ./src && isort ./src'"
lint = "flake8 --exclude=./.venv/ --show-source ./src"
start = "bash -c 'export $(cat ../.env | grep -v ^#) && uvicorn app.main:app --reload'"

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
